.form-group{
    border-radius: 5px;
    margin: 1%;
}

.form-label{
    margin: 1%;
}

.booking{
    z-index: 1;
    background: url(../img/1920x1080/01.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
}

.booking h2{
    color: white;
}

.booking h4{
    color: white;
}